@config "./tailwind.client.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

.ltr {
    direction: ltr;
}

.z-30 {
    z-index: 401;
}
.leaflet-container {
    @apply !font-iranSans;
}

.icon-margin svg{
    @apply mr-0 me-3;
}

.select-css > label,
.select-css ul
{
    @apply pr-3;
}

#alert svg {
    @apply me-3 !mr-0;
}

.mapboxgl-ctrl-group button {
    @apply !w-12 !h-12;
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
